.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 2rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 3rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0rem;
}

.box {
  max-width: 50px;
  max-height: 50px;
  border: solid black 1px;
  text-align: center;
  display: block;
}

.empty_box {
  width: 50px;
  height: 50px;
  /* border: solid black 1px; */
  text-align: center;
  display: block;
}

.white {
  width: 2.5em;
  height: 2.5em;
  margin: .15em;
  border: solid black 1px;
  text-align: center;
  display: block;
  background-color:rgb(255, 255, 255);
  border-radius: 2px;
}

.gray {
  width: 2.5em;
  height: 2.5em;
  margin: .15em;
  border: solid rgb(148, 147, 147) 1px;
  text-align: center;
  display: block;
  background-color: rgb(170, 167, 167);
  border-radius: 2px;
}

.green {
  width: 2.5em;
  height: 2.5em;
  margin: .15em;
  border: solid rgb(110, 182, 110) 1px;
  text-align: center;
  display: block;
  background-color: rgb(127, 210, 127);
  border-radius: 2px;
}

.yellow {
  width: 2.5em;
  height: 2.5em;
  margin: .15em;
  border: solid rgb(192, 192, 84) 1px;
  text-align: center;
  display: block;
  background-color: rgb(225, 225, 99);
  border-radius: 2px;
}

.purple {
  width: 2.5em;
  height: 2.5em;
  margin: .15em;
  border: solid rgb(166, 90, 166) 1px;
  text-align: center;
  display: block;
  background-color: rgb(189, 104, 189);
  border-radius: 2px;
}

.container {
  /* min-height: 100vh; */
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: 600;
}

.modal {
  background-color: rgb(233, 207, 246);
  outline: rgb(187, 129, 210) solid 2px;
  padding: 1rem;
  border-radius: 10px;
}

.keyText {
  text-align: center;
  line-height: 2.25rem
}